PyYAML<=5.3.1
msgpack<=1.0.1

# Build
numpy
cython

# misc
invoke
strip_hints
ipython
ipdb

# development and testings
cvxopt
cvxpy
pandas
tabulate
cvxopt
pytest
pylint
invoke
mypy
pylint

setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
