sphinx>=1.4
ipykernel
nbsphinx
recommonmark
sphinx-autodoc-typehints
sphinx-gallery
cython
numpy
matplotlib
sphinx-autobuild
furo
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
