sphinx>=1.4
ipykernel
nbsphinx
recommonmark
sphinx-autodoc-typehints
sphinx-gallery
cython
numpy
matplotlib
sphinx-autobuild
furo
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
